server {
	server_name test
	listen 127.0.0.1:8080

	root html/YoupiBanane/
	index youpi.bla

	error_page html/YoupiBanane/youpi.bad_extension
	max_body_size 10000000
	cgi /usr/bin/php-cgi,/usr/bin/python3,/usr/bin/bash
	cgi_ext .bla
	allow_methods GET
	tmp tmp/
	listening_file on

	location /test.php {
		allow_methods GET,POST
		root html/site1/
	}

	location /2emeserv1 {
		allow_methods GET,POST
		root html/
	}
}