server {
	#port & host
	host:	127.0.0.1;
	port:	80;

	#server name
	server_name:	www.monsite.com

	#error page
	error_page:	html/error404.html;

	#limit client body size:
	body_size_limit: 1000octets;

	#routes
	HTTP_methods:	GET, POST, DELETE;
	HTTP_redirection	www.google.fr;
	Directory:	html/;
	directory_listing:	on;
	default_file:	html/monsite.html;

	#CGI
	CGI:	path du CGI;
	.............
	.............
	.............


}
