server {
	server_name test
	listen 0.0.0.0:8000

	root ./YoupiBanane
	index index.html

	error_page file/src/...
	max_body_size 100000
	cgi ...

	allow_methods GET

	location /put_test {
		allow_methods PUT
		root ./YoupiBanane/put_here
	}
}

server {
	server_name Lol
	listen 0.0.0.0:8001

	root ./Lol
	index lol.html

	error_page file/src/...
	max_body_size 100000
	cgi ...

	allow_methods GET POST

	location /put_test {
		allow_methods PUT
		root ./YoupiBanane/put_here
	}
}