server {
	server_name test
	listen 10.33.3.5:8081

	root html/site1/
	index monsite.html

	error_page html/site1/error.html
	max_body_size 10000000
	cgi /usr/bin/php-cgi,/usr/bin/python3,/usr/bin/bash
	cgi_ext .php,.py,.sh
	allow_methods GET,POST,DELETE
	tmp tmp/
	listening_file off
	location /print.php {
		allow_methods GET,POST
		root html/site1/
		redirection /post.html
	}
}

server {
	server_name test78
	listen 10.33.3.5:8081

	root html/site1/
	index form.html

	error_page html/site1/monsite.html
	max_body_size 100
	cgi /usr/bin/php-cgi,/usr/bin/python3,/usr/bin/bash
	cgi_ext .php,.py,.sh
	allow_methods GET,POST,DELETE
	tmp tmp/
	listening_file off
	location /test.php {
		allow_methods GET,POST
		root html/site1/
		redirection /monsite.html
	}
}

server {
	server_name test1
	listen 127.0.0.1:8080

	root html/site1/
	index monsite.html

	error_page html/site1/error.html
	max_body_size 10000000
	cgi /usr/bin/php-cgi,/usr/bin/python3,/usr/bin/bash
	cgi_ext .php,.py,.sh
	allow_methods GET,POST
	tmp tmp/
	listening_file on

	location /test.php {
		allow_methods GET,POST
		root html/site1/
	}
}