* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

#a_footer {
    color: #70757a;;
}

a:hover {
  text-decoration: underline;
}

#header_button {
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 0px;
  background-color: white;
}

header {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif
}

#header_menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

#img_menu {
    height: 30px;
}

li {
  padding: 10px;
}

main {
  padding-top: 11%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 550px;
}

#div_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#but_main {
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: solid 0px;
}

#but_main:hover {
  border: solid 1px;
}

#recherche_barre {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 600px;
  border: solid 0.5px rgb(204, 204, 204);
  border-radius: 50px;
}

#img_barre {
  width: 5%;
}

#input_recherche {
  margin-left: 70px;
  margin-right: 70px;
  height: 50px;
  width: 350px;
  border: transparent;
  background-color: transparent;
}

footer {
  background-color: #e6e8e9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ul_footer1 {
  display: flex;
  list-style: none;
  padding: 8px;
  color: #70757a;
}

#ul_footer2 {
  display: flex;
  list-style: none;
  padding: 8px;
  color: #70757a;
}

#text_footer1 {
  padding: 8px;
  margin-left: 10px;
  color: #70757a;
}

#text_footer2 {
  padding: 8px;
  margin-left: 10px;
  color: #70757a;
}
